<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/x-icon" href="<%= process.env.REPOSITORY_PUBLIC%>/images/favicon.ico" />
    <link rel="stylesheet" href="<%= process.env.REPOSITORY_PUBLIC%>/css/common.css" />
    <title>Example App</title>
</head>
<body>
    <img src="<%= process.env.REPOSITORY_PUBLIC%>/images/app1_logo.png" alt="logo">
    <h1><%= app_name%></h1>
    <h3><%= message%></h3>
    <img src="<%= process.env.REPOSITORY_PUBLIC%>/images/entrepreneur-1340649_1920.jpg" alt="entrepreneur">
</body>
</html>
